<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zbot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import zbot urdf file -->
    <xacro:include filename="$(find zbot_description)/urdf/zbot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="zbot.ros2_control.xacro" />


    <xacro:zbot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
