<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="zbot_ros2_control_gazebo" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <joint name="LSP_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="LSY_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="LSR_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="LEP_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="LWR_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="LWP_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="LWY_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="LGRF_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="RSP_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="RSY_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="RSR_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="REP_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="RWR_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="RWP_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>      
      
      <joint name="RWY_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="RGRF_joint">
        <!--<command_interface name="effort"/>-->
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>      

    </ros2_control>
  </xacro:macro>

</robot>

