<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zbot">

  <!-- Robot geometry + joints -->
  <xacro:include filename="$(find zbot_description)/urdf/zbot.urdf.xacro"/>

  <!-- ros2_control for Gazebo -->
  <xacro:include filename="ros2_control.xacro" />

  <!-- Instantiate ros2_control system -->
  <xacro:zbot_ros2_control_gazebo name="GazeboSystem"/>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>
        $(find zbot_control)/config/ros2_controllers.yaml
      </parameters>
    </plugin>
  </gazebo>

</robot>
